<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:fragment="footer">


    <div class="bottom-container">

        <p class="copyright">© 2018</p>




    </div>


   <!-- <footer class="page-footer font-small ">

        &lt;!&ndash; Copyright &ndash;&gt;
        <div class="footer-copyright">© 2018 Copyright:
          just kidding no copyright
        </div>
        &lt;!&ndash; Copyright &ndash;&gt;

    </footer>-->

</div>
</body>
</html>