


<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>


<body>
<section class="text-monospace" id="main" style="opacity: 1;">
    <div th:replace="fragments/header ::header"></div>
    <div class="container-fluid text-center" id="con2">

    <h1>404 Not Found</h1>
<p th:text="${exception.getMessage()}"></p>
</div>
    <div class="container-fluid text-center footer-div">
        <div th:replace="fragments/footer ::footer" ></div>
    </div>
</section>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>



</body>
</html>