<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<!--<p action="#" th:action="@{/word/wordCheck/typeWordForm}" th:object="${theInWord}" method="post">
<p type="text" th:field="*{inputWord}"/></p>
<p th:if="${#fields.hasErrors('inputWord')}" th:error="*{inputWord}">Type Something</p>
<div th:href="@{/word/wordCheck/typeWordForm}"
   class="btn btn-outline-dark brn-sm">
    READY
</div>-->
<body>
<section class="text-monospace" id="main" style="opacity: 1;">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Spell</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">First Item</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center" id="con2">
        <p>Try again</p>
        <form action="#" th:action="@{/word/wordCheck/typeWordForm}" th:object="${theInWord}" method="post">
            <table align="center">
                <tr>
                    <td>Type word here:</td>
                    <td><input type="text" id="wordLength" th:field="*{inputWord}"/></td>
                    <td th:if="${#fields.hasErrors('inputWord')}" th:error="*{inputWord}">Type Something</td>

                </tr>
                <!-- <tr>
                     <td><input type="submit" class="btn btn-outline-dark brn-sm" value="Submit"/></td>
                 </tr>-->
            </table>
            <input type="submit"  id="enter" class="btn btn-outline-dark brn-sm" value="ENTER"/>

        </form>

    </div>
</section>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

<!--
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>
<body>
<h1>
    Try again.
</h1>
    <form action="#" th:action="@{/word/wordCheck/typeWordForm}" th:object="${theInWord}" method="post">


        <p> <input type="text" th:field="*{inputWord}"/></p>

        <p><input type="submit" value="Submit"/> </p>



    </form>

</body>
</html>-->
